* {
    margin: 0;
    padding: 0;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}

h1{
    font-weight: bold;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    /* Hide scrollbar for IE, Edge and Firefox */
    
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}


nav {
    height: 6rem;
    width: 100vw;
    background-color:transparent;
    color: white;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 10;
    transition: 0.3s;
}

/*Styling logo*/
.logo {
    padding: 1vh 1vw;
    text-align: center;
    display: flex;
    align-items: center;
    transition: 0.3s;
}
.nav-logo{
    height: 55px;
    width: 55px;
    transition: 0.3s;
}

/*Styling Links*/
.nav-links {
    display: flex;
    list-style: none;
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
}

.nav-links li a {
    text-decoration: none;
    margin: 0 0.7vw;
    color: white;
}

.nav-links li a:hover {
    color: #61DAFB;
}

.nav-links li {
    position: relative;
}

.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #61DAFB;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}

.nav-links li a:hover::before {
    width: 80%;
}

/*Styling Buttons*/
.login-button {
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;

}

.login-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border: 1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

.join-button {
    color: #131418;
    background-color: #61DAFB;
    border: 1.5px solid #61DAFB;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}

.join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div {
    width: 30px;
    height: 3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger {
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px) {
    nav {
        position: fixed;
        z-index: 3;
        justify-content: unset;
    }

    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }

    .nav-links {
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 0.5s ease-out;
        pointer-events: none;
        justify-content: space-evenly;
        transition: 0.5s;
    }

    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }

    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
    }

    .nav-links li:nth-child(6) {
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }

    .nav-links li:nth-child(7) {
        transition: all 0.5s ease 1s;
        margin: 0;
    }

    li.fade {
        opacity: 1;
    }
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* hero */
.waves{
    position: relative;
    display: flex;
    height: 700px;
    flex-direction: column;
    background-image: url(resources/about-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

.hero{
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 100px;
    width: 75%;
}

.hero-left{
    color: white;
    width: 50%;
    flex-direction: column;
    gap: 15px;
    display: flex;
    z-index: 1;
}

.hero-left h1{
    font-weight: bold;
    font-size: 40px;
}

.socmed{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.socmed a{
    color: white;
    text-decoration: none;
}

.hero-img{
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.custom-shape-divider-bottom-1673519652 {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    background-color: transparent;
}

.custom-shape-divider-bottom-1673519652 svg {
    position: relative;
    display: block;
    width: calc(145% + 1.3px);
    height: 175px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1673519652 .shape-fill {
    fill: #FFFFFF;
}

.jeffreylonzanida{
    width: 400px;
    border-radius: 50%;
}

.socmed svg:hover{
    color: #61DAFB;
    transition: 0.2s;
}

.fancy {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
}

.fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: rgb(255, 255, 255);
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: black;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #000000;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #000000;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
    color: rgb(0, 0, 0);
    background: rgb(255,255, 255);
}

.fancy:hover::before {
    width: 0.9375rem;
    background: rgb(0, 0, 0);
}

.fancy:hover .text {
    color: rgb(0, 0, 0);
    padding-left: 1.5em;
}

.fancy:hover .top-key {
    left: -2px;
    width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
}

/** For mobile devices **/

@media (max-width: 900px) {
    .hero {
        transition: 0.5s;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }
    .hero-left{
        order: 2;
        width: 90%;
        justify-content: center;
        text-align: center;
    }

    .hero-img{
        order: 1;
        width: 90%;
        justify-content: center;
    }

    .socmed{
        justify-content: center;
    }

    .waves{
        height: 800px;
    }
}

@media (max-width: 767px) {
    .custom-shape-divider-bottom-1673519652 svg {
        width: calc(224% + 1.3px);
        height: 175px;
        transition: 0.5s;
    }
    .jeffreylonzanida {
        transition: 0.5s;
        width: 350px;
    }
}

@media (max-width: 480px){
    .jeffreylonzanida{
        transition: 0.5s;
        width: 270px;
    }
}

/* about me section */
.about{
    position: relative;
    width: 80%;
    height: max-content;
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    gap: 15px;
}

.about-left{
    width: 50%;
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-right{
    width: 50%;
    order: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-right p{
    text-align: justify;
}

main{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.info{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.aboutme-svg{
    width: 100%;
}

@media (max-width: 767px) {
    .about {
        transition: 0.5s;
        flex-direction: column;
        width: 90%;
    }
    .about-right, .about-left{
        width: 100%;
    }
}

/* Skills section */
.skills-section{
    height: max-content;
    width: 100%;
    background-color:black;
    color: white;
    padding-bottom: 15px;
}

.skills-child h1{
    font-weight: bold;
}

.skills-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.skills-p1{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.skills-p2{
    width: 300px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-p3 {
    width: 300px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-p4 {
    width: 300px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-p1 img{
    height: 60px;
    width: 60px;
}

.custom-shape-divider-top-1674176439 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1674176439 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 106px;
}

.custom-shape-divider-top-1674176439 .shape-fill {
    fill: #FFFFFF;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    justify-content: center;
}

.grid-item {
    transition: 0.2s;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
        -webkit-backdrop-filter: blur(1px);
        backdrop-filter: blur(1px);
        border: 1px solid rgba(255, 255, 255, 0.25);
}

.grid-item:hover{
    transform: scale(1.1,1.1);
}

@media (max-width:690px){
    .skills-p1{
        flex-direction: column;
        align-items: center;
    }
}

/* project section */
.project-section{
    height: 600px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.project-section h1{
    color: white;
}

/* loader */
.loader-container {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-loader{
    width: 55px;
    height: 55px;
    position: fixed;
}

.loading {
    width: 60px;
    height: 60px;
    position: fixed;
}

.d1,
.d2 {
    border: 5px solid #000000;
    border-radius: 50px;
}

.loading .d1 {
    width: 85px;
    height: 85px;
    position: absolute;
    margin: -17.5px;
    border-left-color: transparent;
    animation: load161 1s linear infinite;
}

.loading .d2 {
    width: 70px;
    height: 70px;
    border-top-color: transparent;
    border-right-color: transparent;
    margin: -10px;
    animation: load2812 1.5s linear infinite;
}

@keyframes load161 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes load2812 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}
