* {
    margin: 0;
    padding: 0;
    font-family: Manrope, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}

body {
    overflow-x: hidden;
}

nav {
    height: 6rem;
    width: 100vw;
    background-color: #131418;
    color: white;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 10;
    transition: 0.3s;
}

/*Styling logo*/
.logo {
    padding: 1vh 1vw;
    text-align: center;
    display: flex;
    align-items: center;
    transition: 0.3s;
}
.nav-logo{
    height: 55px;
    width: 55px;
    transition: 0.3s;
}
/*Styling Links*/
.nav-links {
    display: flex;
    list-style: none;
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
}

.nav-links li a {
    text-decoration: none;
    margin: 0 0.7vw;
    color: white;
}

.nav-links li a:hover {
    color: #61DAFB;
}

.nav-links li {
    position: relative;
}

.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #61DAFB;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}

.nav-links li a:hover::before {
    width: 80%;
}

/*Styling Buttons*/
.login-button {
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;

}

.login-button:hover {
    color: #131418;
    background-color: #f2f5f7;
    border: 1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

.join-button {
    color: #131418;
    background-color: #61DAFB;
    border: 1.5px solid #61DAFB;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
}

.join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div {
    width: 30px;
    height: 3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger {
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px) {
    nav {
        position: fixed;
        z-index: 3;
        justify-content: unset;
    }

    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }

    .nav-links {
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 0.5s ease-out;
        pointer-events: none;
        justify-content: space-evenly;
        transition: 0.5s;
    }

    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }

    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
    }

    .nav-links li:nth-child(6) {
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }

    .nav-links li:nth-child(7) {
        transition: all 0.5s ease 1s;
        margin: 0;
    }

    li.fade {
        opacity: 1;
    }
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* hero */
.waves{
    position: relative;
    display: flex;
    height: 700px;
    flex-direction: column;
    background-image: url(resources/hero-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    box-shadow: 0px -200px 175px 200px rgba(0, 0, 0, 0.51) inset;
        -webkit-box-shadow: 0px -200px 175px 200px rgba(0, 0, 0, 0.51) inset;
        -moz-box-shadow: 0px -200px 175px 200px rgba(0, 0, 0, 0.51) inset;
}

.hero{
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 100px;
    width: 90%;
}

.hero-left{
    color: white;
    width: 50%;
    flex-direction: column;
    gap: 15px;
    display: flex;
    z-index: 1;
}

.hero-left h1{
    font-weight: bold;
    font-size: 40px;
}

.socmed{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.socmed a{
    color: white;
    text-decoration: none;
}

.hero-img{
    display: flex;
    width: 50%;
    justify-content: center;
}

.custom-shape-divider-bottom-1673519652 {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    background-color: transparent;
}

.custom-shape-divider-bottom-1673519652 svg {
    position: relative;
    display: block;
    width: calc(145% + 1.3px);
    height: 175px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1673519652 .shape-fill {
    fill: #FFFFFF;
}

.jeffreylonzanida{
    width: 400px;
    border-radius: 50%;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1673519652 svg {
        width: calc(224% + 1.3px);
        height: 175px;
        transition: 0.5s;
    }

    .hero{
        transition: 0.5s;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .hero-left{
        order: 2;
        width: 90%;
        justify-content: center;
        text-align: center;
    }

    .hero-img{
        order: 1;
        width: 90%;
    }
    .socmed{
        justify-content: center;
    }
    .jeffreylonzanida {
        transition: 0.5s;
        width: 350px;
    }
    .waves{
        height: 800px;
    }
}
@media (max-width: 480px){
    .jeffreylonzanida{
        transition: 0.5s;
        width: 270px;
    }
}

/* about me section */
.about{
    position: relative;
    width: 100%;
    height: 500px;
    align-items: center;
    display: flex;
    flex-direction: column;
}